# https://aws.amazon.com/blogs/security/use-iam-roles-to-connect-github-actions-to-actions-in-aws/
# https://aws.amazon.com/blogs/apn/simplify-and-secure-terraform-workflows-on-aws-with-dynamic-provider-credentials/
# https://wearecommunity.io/communities/devops-india/articles/4552#
# https://skundunotes.com/2025/01/03/provision-aws-resources-with-github-and-hcp-terraform/
# https://skundunotes.com/2023/03/07/ci-cd-with-terraform-and-github-actions-to-deploy-to-aws/
# https://skundunotes.com/2023/02/28/securely-integrate-aws-credentials-with-github-actions-using-openid-connect/
# https://faun.pub/terraform-cloud-f03fb4eaaa87
# https://faun.pub/terraform-cloud-with-github-actions-dc897ed06e0d
# https://developer.hashicorp.com/terraform/tutorials/automation/github-actions
# https://github.com/charandasari/null-github-actions-terra/blob/main/.github/workflows/null-terraform.yaml
# https://medium.com/@charandasar/automating-infrastructure-deployment-ci-cd-with-github-actions-terraform-cloud-and-terraform-3097ab76ac87
# https://terrateam.io/blog/ci-cd-pipeline-for-terraform
# https://www.firefly.ai/academy/integrating-oidc-with-github-action-to-manage-terraform-deployment-on-aws
# https://youtu.be/B55rso_UR6I?si=e27SuLNIt8gONeRx
# https://www.cloudthat.com/resources/blog/a-guide-to-integrate-vcs-into-the-terraform-cloud

# This workflow will create AWS resource using HCP Terraform from GitHub Actions
# It is reusable workflow that can be called in other workflows

name: AWS Infra Creation in HCP Terraform using GitHub Actions
run-name: ${{ github.actor }} has triggered the pipeline
on:
  workflow_call:
    secrets:
      TF_API_TOKEN:
        required: true
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

env:
  tfc_hostname: "app.terraform.io"
  tfc_organisation: "cloud-infra-dev"
  tfc_workspace: "testing-terraform-aws-modules"

jobs:
  find_root_folder:
    name: Find Root Folder containing Terraform files
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Checkout tf code in runner environment
        uses: actions/checkout@v6.0.2

      - name: Find root folder containing Terraform files
        id: set-matrix
        run: |
          folders=$(find . -name "*.tf" -type f | xargs dirname | sort -u | sed 's|^./||')
          matrix="["
          first=true
          for folder in $folders; do
            if [ "$first" = true ]; then
              matrix="$matrix\"$folder\""
              first=false
            else
              matrix="$matrix,\"$folder\""
            fi
          done
          matrix="$matrix]"
          echo "matrix=$matrix" >> $GITHUB_OUTPUT
          echo "Found folders: $matrix"

  trivy_code_scan:
    name: Trivy-IaC-Code-Scan
    runs-on: ubuntu-latest
    needs: find_root_folder
    strategy:
      matrix:
        folder: ${{ fromJson(needs.find_root_folder.outputs.matrix) }}
    steps:
      - name: Checkout tf code in runner environment
        uses: actions/checkout@v6.0.2

      # Configure Terraform cloud API token, since we are using Remote backend option of Terraform cloud in AWS code
      - name: Setup Terraform CLI
        uses: hashicorp/setup-terraform@v3.1.2
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}
          terraform_version: 1.14.4

      - name: Terraform Format
        run: |
          cd ${{ matrix.folder }}
          terraform fmt --recursive -check
        continue-on-error: true

      - name: Terraform Init
        run: |
          cd ${{ matrix.folder }}
          terraform init
        continue-on-error: true

      - name: Terraform Validate
        run: |
          cd ${{ matrix.folder }}
          terraform validate -no-color

      - name: Run Trivy vulnerability scanner in config mode
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: "config"
          ignore-unfixed: true
          scan-ref: "${{ matrix.folder }}/"
          format: "table"
          scanners: "vuln,secret,misconfig"
          severity: "CRITICAL,HIGH,MEDIUM,LOW,UNKNOWN"
          exit-code: 0

      # # Invoke the Terraform commands
      # - name: Terraform init and validate
      #   run: |
      #     echo `pwd`
      #     echo "** Running Terraform Init **"
      #     terraform init

      #     echo "** Running Terraform Validate **"
      #     terraform validate
      #   working-directory: ${{ env.tfcode_path }}

      - name: Terraform Plan
        uses: hashicorp/tfc-workflows-github/actions/create-run@v1.3.0
        id: run
        with:
          workspace: ${{ env.tfc_workspace }}
          plan_only: true
          message: "Plan Run from GitHub Actions"
          ## Can specify hostname,token,organization as direct inputs
          hostname: ${{ env.tfc_hostname }}
          token: ${{ secrets.TF_API_TOKEN }}
          organization: ${{ env.tfc_organisation }}

      - name: Terraform Plan Output
        uses: hashicorp/tfc-workflows-github/actions/plan-output@v1.3.0
        id: plan-output
        with:
          hostname: ${{ env.tfc_hostname }}
          token: ${{ secrets.TF_API_TOKEN }}
          organization: ${{ env.tfc_organisation }}
          plan: ${{ steps.run.outputs.plan_id }}

      - name: Reference Plan Output
        run: |
          echo "Plan status: ${{ steps.plan-output.outputs.plan_status }}"
          echo "Resources to Add: ${{ steps.plan-output.outputs.add }}"
          echo "Resources to Change: ${{ steps.plan-output.outputs.change }}"
          echo "Resources to Destroy: ${{ steps.plan-output.outputs.destroy }}"

  # Once the user verifies the Terraform Plan, the user can run the Terraform Apply and Destroy commands
  apply_terraform_plan:
    needs: [find_root_folder, trivy_code_scan]
    if: github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        folder: ${{ fromJson(needs.find_root_folder.outputs.matrix) }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
      - name: Setup Terraform CLI
        uses: hashicorp/setup-terraform@v3.1.2
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}
          terraform_version: 1.14.4

      - name: Terraform Init
        run: |
          cd ${{ matrix.folder }}
          terraform init
        continue-on-error: true

      - name: Terraform Validate
        run: |
          cd ${{ matrix.folder }}
          terraform validate -no-color

      - name: Terraform Apply
        run: |
          cd ${{ matrix.folder }}
          echo "** Running Terraform Apply **"
          terraform apply -auto-approve
